metrics:
  mainReleaseName: production

global:
  clusterDomain: apps.live.cloud-platform.service.justice.gov.uk

  image:
    repository: ""

  ports:
    protocol: TCP
    port: 80
    targetPort: 8082

  management:
    enabled: true
    protocol: TCP
    port: 8081
    targetPort: 8081

  ingress:
    externalRoute:
      mojDigitalVpnRequired: false
    enabled: true
    className: modsec

env:
  - name: AUTH_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: AUTH_CLIENT_ID

  - name: AUTH_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: AUTH_CLIENT_SECRET

  - name: AUTH_CLOUD_INSTANCE
    value : https://login.microsoftonline.com

  - name: AUTH_SCOPE
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: AUTH_SCOPE

  - name: AUTH_TENANT_ID
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: AUTH_TENANT_ID

  - name: CWA_API_URL
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: CWA_API_URL

  - name: CLAIM_API_URL
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: CLAIM_API_URL

  - name: CLAIMS_API_ACCESS_TOKEN
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: CLAIMS_API_ACCESS_TOKEN

  - name: SILAS_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: SILAS_CLIENT_ID

  - name: SILAS_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: SILAS_CLIENT_SECRET

  - name: SILAS_SCOPE
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: SILAS_SCOPE

  - name: SILAS_TENANT_ID
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: SILAS_TENANT_ID

  - name: REST_CLIENT_CONNECT_TIMEOUT
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: REST_CLIENT_CONNECT_TIMEOUT

  - name: REST_CLIENT_READ_TIMEOUT
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: REST_CLIENT_READ_TIMEOUT

  - name: SDS_API_URL
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: SDS_API_URL

  - name: SERVER_MAX_FILE_SIZE
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: SERVER_MAX_FILE_SIZE

  - name: UPLOAD_MAX_FILE_SIZE
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: UPLOAD_MAX_FILE_SIZE

  - name: REDIS_HOST
    valueFrom:
      secretKeyRef:
        name: elasticache-redis
        key: url
  - name: APP_LANDING_DEADLINE_OVERRIDE_MESSAGE
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: APP_LANDING_DEADLINE_OVERRIDE_MESSAGE
        optional: true
  - name: SUBMISSION_MINIMUM_PERIOD
    valueFrom:
      secretKeyRef:
        name: laa-submit-a-bulk-claim-secrets
        key: SUBMISSION_MINIMUM_PERIOD
        optional: true

extraEnvVars:
  - name: ALLOWED_HOSTS
    value: '{{ .Release.Name }}-{{ .Chart.Name }}-{{ .Release.Namespace }}.{{ .Values.global.clusterDomain }}'
  - name: CANONICAL_BASE_URL
    value: 'https://{{ .Release.Name }}-{{ .Chart.Name }}-{{ .Release.Namespace }}.{{ .Values.global.clusterDomain }}'

securityContext:
  fsGroup: 1000
  runAsUser: 1000
  runAsGroup: 1000

ingress:
  externalRoute:
    enabled: true
    hostname:
      enabled: false

probe:
  enabled: true

resources:
  limits:
    cpu: "1"
    memory: 1Gi
  requests:
    cpu: 25m
    memory: 384Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 8
  targetCPUUtilizationPercentage: 60

downtime:
  scheduler:
    enabled: true
    serviceAccountName: laa-submit-a-bulk-claim-production-service-account
    jobs:
      - name: scale-down
        schedule: "30 21 * * *"
        action: down
      - name: scale-up
        schedule: "00 7 * * *"
        action: up
  page:
    enabled: true
    port: 8080
    replicas: 1
    system:
      name: "Submit a bulk claim"
      url: "https://submit-a-bulk-claim.laa.service.justice.gov.uk"
