# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# Ignore local application config
application-local.yaml
application-local.yml
application-silas.yml
application-silas.yaml
application-mockoidc.yaml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.run/

### VS Code ###
.vscode/

### Mac
.DS_Store


claims-api-reference/generated


.env

/node_modules
/package-lock.json
allure-report/
