# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# Ignore local application config
application-local.yaml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.run/

### VS Code ###
.vscode/

### Mac
.DS_Store


claims-api-reference/generated

laa-submit-a-bulk-claim-ui/src/main/resources/application-local.yml
laa-submit-a-bulk-claim-ui/src/main/resources/application-silas.yml
laa-submit-a-bulk-claim-ui/src/main/resources/application-silas.yaml

.env

/node_modules
/package-lock.json
