<!DOCTYPE HTML>
<html th:fragment="layout(title, main)" lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org" >
<head>
  <title th:replace="${title}">Default title (this should be replaced)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="manifest" href="/assets/manifest.json" crossorigin="use-credentials">
  <link rel="stylesheet" href="/stylesheets/govuk-frontend-5.10.1.min.css">
  <link rel="stylesheet" href="/stylesheets/upload.css">
  <link rel="icon" href="/assets/images/favicon.ico" sizes="any">
  <link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml">
</head>
<body class="govuk-template__body">
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<header th:replace="~{fragments/header :: header}"></header>
<div class="govuk-width-container">
  <main th:replace="${main}">
    <p>Default content (this should be replaced)</p>
  </main>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<th:block th:insert="~{fragments/page-scripts :: script}" />
</body>
</html>