<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{nilSubmission.heading}, ~{::main},
       ~{},'nil-submission')}">

<main class="govuk-main-wrapper" id="main-content" data-back-link-href="/upload" th:attr="data-back-link-text=#{common.back}">
    <div class="govuk-grid-row">
       <div class="govuk-grid-column-full">
           <h1 class="govuk-heading-l" th:text="#{__${submissionInfoMessagePageHeading}__}"></h1>

            <p class="govuk-body" th:text="#{__${submissionInfoMessageText}__}"></p>
        </div>
    </div>
</main>
</html>