<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{nilSubmission.heading}, ~{::main},
       ~{},'nil-submission')}">

<main class="govuk-main-wrapper" id="main-content" data-back-link-href="/upload" th:attr="data-back-link-text=#{common.back}">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" th:object="${nilSubmissionForm}">
                <div th:replace="~{fragments/error-components :: error-summary}"/>
                <div id="nil-submission-hint" class="govuk-hint" th:text="#{nilSubmission.hint}"></div>
                <h1 class="govuk-heading-l" th:text="#{nilSubmission.office.heading}"/>
                <form class="form" th:action="@{/nil-submission/office}" method="post">
                    <div class="govuk-form-group"
                         th:classappend="${#fields.hasErrors('office')} ? ' govuk-form-group--error'">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"
                                    th:text="#{nilSubmission.office.heading}">
                            </legend>
                            <th:block th:replace="~{fragments/error-components :: error-messages('office')}"/>
                            <div class="govuk-radios govuk-radios--small"
                                 data-module="govuk-radios" id="office-input-container">
                                <th:block th:each="office,idx : ${userOffices}">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input"
                                               th:id="${idx.index > 0} ? |office-input-${idx.index}| : |office-input|"
                                               type="radio"
                                               th:field="*{office}"
                                               th:value="${office}">
                                        <label class="govuk-label govuk-radios__label"
                                               th:for="${idx.index > 0} ? |office-input-${idx.index}| : |office-input|"
                                               th:text="${office}">
                                        </label>
                                    </div>
                                </th:block>

                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-button-group">
                        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button"
                                th:text="#{nilSubmission.primaryButton}"/>
                        <a th:href="@{/nil-submission/cancel(destination='UPLOAD')}" th:text="#{nilSubmission.cancel}"
                           class="govuk-link govuk-link--no-visited-state"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</html>