.upload-table {
    overflow-x: auto;
}

@media print {
    .upload-table {
        overflow: visible !important;
    }
    .govuk-table {
        width: 100%;
        font-size: 8px;
        table-layout: auto;
        word-break: break-all;
    }
}
