.upload-table {
    overflow-x: auto;
}

.sign-in-button {
    background:none;
    border:none;
    padding:6px;
    color:#ffffff;
}

@media print {
    .upload-table {
        overflow: visible !important;
    }

    .govuk-table {
        width: 100%;
        font-size: 8px;
        table-layout: auto;
        word-break: break-all;
    }

    #print-button,
    .govuk-link,
    .govuk-header,
    .govuk-footer,
    .govuk-back-link {
        display: none;
    }
}
