<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<script type="module" src="/javascripts/govuk-frontend-5.11.0.min.js"></script>
<script type="module" src="/javascripts/moj-frontend-5.1.5.min.js"></script>
<script type="module">
    import * as GOVUKFrontend from '/javascripts/govuk-frontend-5.11.0.min.js'
    import * as MoJFrontend from '/javascripts/moj-frontend-5.1.5.min.js'

    GOVUKFrontend.initAll()
    MoJFrontend.initAll()
</script>
</body>
</html>