<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(~{::title},~{::main}, ~{})}">
<title>CWA Bulk Upload - Login</title>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Logged Out</h1>
                <p class="govuk-body">You are now logged out. Log in again by clicking here -
                    <a class="govuk-link govuk-link--no-visited-state" href="/">Log in</a>
                </p>
            </div>
        </div>
    </div>

</main>
</html>