<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(~{::title},~{::main})}">
<title>CWA Bulk Upload - Login</title>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" id="header">Login</h1>
                <div th:if="${param.error}" class="govuk-error-summary" data-module="govuk-error-summary">
                    <div role="alert">
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a href="#">Invalid username and password.</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="username-input">
                            Username
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="username-input" name="username" type="text">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="password-input">
                            Password
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="password-input" name="password" type="password">
                    </div>
                    <button type="submit" class="govuk-button" data-module="govuk-button" id="primary-button">Sign in</button>
                </form>
            </div>
        </div>
    </div>

</main>
</html>