<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(~{::title},~{::main})}">
<title>CWA Bulk Upload - Submission</title>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <a href="/" class="govuk-back-link">Back</a>
                <h1 class="govuk-heading-xl" id="header">CWA Bulk Upload</h1>
                <h3 class="govuk-heading-m">File Upload is Successful</h3>
                <p class="govuk-body">Please submit the file <span class="govuk-!-font-weight-bold" th:text="${fileId}">Test</span>
                    for processing</p>


                <form id="submitForm" th:action="@{/submit}" method="POST" enctype="multipart/form-data">
                    <input id="fileId" name="fileId" type="hidden" th:value="${fileId}"/>
                    <input id="provider" name="provider" type="hidden" th:value="${provider}"/>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <button id="primary-button" type="submit" class="govuk-button" data-module="govuk-button">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/javascripts/submission.js"></script>
</main>
</html>