<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(~{::title},~{::main})}">
<title>Submit a bulk claim - Home</title>
<main class="govuk-main-wrapper" id="main-content">
    <form th:action="@{/upload}" method="POST" enctype="multipart/form-data">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div th:if="${errors != null && !errors.isEmpty()}" class="govuk-error-summary"
                         data-module="govuk-error-summary">
                        <div role="alert">
                            <h2 class="govuk-error-summary__title">
                                There is a problem
                            </h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                    <li th:each="err : ${errors}">
                                        <a th:text="${err.value}" th:href="'#' + ${err.key}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h1 class="govuk-heading-xl" id="header">Submit a bulk claim</h1>
                    <div class="govuk-form-group"
                         th:classappend="${errors != null && errors.containsKey('provider') ? 'govuk-form-group--error' : ''}">
                        <label class="govuk-label" for="provider">
                            Select provider
                        </label>
                        <p th:if="${errors != null && errors.containsKey('provider')}" id="provider-error"
                           class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            <span th:text="${errors['provider']}"></span>
                        </p>
                        <select class="govuk-select" id="provider" name="provider"
                                th:classappend="${errors != null && errors.containsKey('provider') ? 'govuk-select--error' : ''}"
                                th:aria-describedby="${errors != null && errors.containsKey('provider') ? 'provider-error' : ''}">
                            <option value="">select option</option>
                            <option th:each="provider : ${providers}"
                                    th:value="${provider.vendorId}"
                                    th:text="${provider.vendorName}"
                                    th:selected="${provider.vendorId == selectedProvider}"></option>
                        </select>
                    </div>

                    <input id="selected-tab" name="selected-tab" type="hidden" th:value="${tab}"/>
                    <div class="govuk-tabs" data-module="govuk-tabs">
                        <h2 class="govuk-tabs__title">
                            Contents
                        </h2>
                        <ul class="govuk-tabs__list">
                            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                <a class="govuk-tabs__tab" href="#upload-file">
                                    Upload
                                </a>
                            </li>
                            <li class="govuk-tabs__list-item">
                                <a class="govuk-tabs__tab" href="#search-upload">
                                    Search
                                </a>
                            </li>
                        </ul>
                        <div class="govuk-tabs__panel" id="upload-file">
                            <h2 class="govuk-heading-l">Upload a file</h2>

                            <div class="govuk-form-group"
                                 th:classappend="${errors != null && errors.containsKey('fileUpload') ? 'govuk-form-group--error' : ''}">
                                <label class="govuk-label" for="file-upload">Select a file to upload</label>
                                <p th:if="${errors != null && errors.containsKey('fileUpload')}" id="file-upload-error"
                                   class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    <span th:text="${errors['fileUpload']}"></span>
                                </p>
                                <input class="govuk-file-upload" id="file-upload" name="fileUpload" type="file"
                                       accept=".csv,.xml,.txt"
                                       th:classappend="${errors != null && errors.containsKey('fileUpload') ? 'govuk-file-upload--error' : ''}"
                                       th:aria-describedby="${errors != null && errors.containsKey('fileUpload') ? 'file-upload-error' : ''}">
                                <button type="submit" class="govuk-button" data-module="govuk-button">Upload</button>
                            </div>

                        </div>

                        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="search-upload">
                            <h2 class="govuk-heading-l">Search By Reference</h2>

                            <div class="govuk-form-group"
                                 th:classappend="${errors != null && errors.containsKey('searchTerm') ? 'govuk-form-group--error' : ''}">
                                <h1 class="govuk-label-wrapper">
                                    <label class="govuk-label" for="searchTerm">Enter File Reference</label>
                                </h1>
                                <p th:if="${errors != null && errors.containsKey('searchTerm')}" id="searchTerm-error"
                                   class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    <span th:text="${errors['searchTerm']}"></span>
                                </p>
                                <input class="govuk-input govuk-input--width-10" id="searchTerm" maxlength="10"
                                       name="searchTerm" type="text" placeholder="Enter file reference"
                                       th:value="${searchTerm}"
                                       th:classappend="${errors != null && errors.containsKey('searchTerm') ? 'govuk-input--error' : ''}"
                                       th:aria-describedby="${errors != null && errors.containsKey('searchTerm') ? 'searchTerm-error' : ''}">
                            </div>
                            <button type="submit" class="govuk-button" th:formaction="@{/search}"
                                    data-module="govuk-button">Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="/javascripts/upload.js"></script>
</main>
</html>