<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{bulkImport.heading},~{::main}, ~{::#back-link})}">
<a id="back-link" th:href="@{/}" class="govuk-back-link" th:text="#{common.back}"/>
<main class="govuk-main-wrapper" id="main-content">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" th:action="@{/upload}" method="post">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading" th:text="#{bulkImport.heading}"/>
          </legend>
          <p class="govuk-body-l" th:text="#{bulkImport.leadParagraph}"/>
          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-component"
                   th:text="#{bulkImport.upload.label}"/>
            <div
                class="govuk-drop-zone"
                data-module="govuk-file-upload">
              <input class="govuk-file-upload" id="file-upload-component" name="fileUpload" type="file">
            </div>
          </div>
        </fieldset>

        <button type="submit" class="govuk-button" data-module="govuk-button"
                th:text="#{bulkImport.primaryButton}"/>

      </form>

    </div>
  </div>

</main>
</html>