<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(~{::title},~{::main})}">
<title>Submit a bulk claim - Upload Forbidden</title>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" id="header">Submit a bulk claim</h1>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden" >Warning</span>
                        You do not have permission to access this application.
                    </strong>
                </div>

            </div>
        </div>
    </div>
</main>
</html>