<table class="govuk-table"
       th:if="${messageDetails?.containsErrors()}"
       data-module="moj-sortable-table"
       th:with="justWarnings=${justWarnings?:false}"
       th:fragment="messagesTable(messageDetails)">
  <caption class="govuk-table__caption govuk-table__caption--m"
           th:text="${justWarnings}? #{bulkClaimImportSummary.claimMessages.caption} : #{bulkClaimImportSummary.claimErrors.caption}"/>

  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header" aria-sort="none"
        th:text="#{submission.claim.properties.ufn}"/>
    <th scope="col" class="govuk-table__header" aria-sort="none"
        th:text="#{submission.claim.properties.ucn}"/>
    <th scope="col" class="govuk-table__header" aria-sort="none"
        th:text="#{submission.claim.properties.client}"/>
    <th th:unless="${justWarnings}" scope="col" class="govuk-table__header" aria-sort="none"
        th:text="#{submission.claim.properties.errorDescription}"/>
    <th th:if="${justWarnings}" scope="col" class="govuk-table__header" aria-sort="none"
        th:text="#{submission.claim.properties.messageDescription}"/>
  </tr>
  </thead>

  <tbody class="govuk-table__body">
  <tr class="govuk-table__row"
      th:each="message, idx : ${messageDetails.claimMessages}"
      th:id="|claim-message-${idx.index}|">
    <td class="govuk-table__cell"
        th:id="|message-ufn-${idx.index}|"
        th:data-sort-value="${message.ufn()}"
        th:text="${message.ufn()}"></td>
    <td class="govuk-table__cell"
        th:id="|message-ucn-${idx.index}|"
        th:data-sort-value="${message.ucn()}"
        th:text="${message.ucn()}"></td>
    <td class="govuk-table__cell"
        th:id="|message-client-${idx.index}|"
        th:data-sort-value="${message.client()}"
        th:text="${message.client()}"></td>
    <td class="govuk-table__cell"
        th:id="|message-description-${idx.index}|"
        th:data-sort-value="${message.message()}"
        th:text="${message.message()}"></td>
  </tr>
  </tbody>
</table>
