<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<script type="module" th:src="@{/webjars/govuk-frontend/dist/govuk/govuk-frontend.min.js}"></script>
<script type="module" th:src="@{/javascripts/moj-frontend.min.js}"></script>
<script type="module">
    import * as GOVUKFrontend from '/webjars/govuk-frontend/dist/govuk/govuk-frontend.min.js'
    import * as MOJFrontend from '/javascripts/moj-frontend.min.js'

    GOVUKFrontend.initAll()
    MOJFrontend.initAll()
</script>
<script type="module" th:src="@{/javascripts/printButton.js}"></script>
</body>
</html>