<th:block th:fragment="sortableHeader(query,field,messageKey)" xmlns:th="http://www.thymeleaf.org">
  <!--/*@thymesVar id="query" type="uk.gov.justice.laa.bulkclaim.dto.PageQuery"*/-->
  <!--/*@thymesVar id="field" type="uk.gov.justice.laa.bulkclaim.dto.sorting.SortField"*/-->
  <!--/*@thymesVar id="direction" type="uk.gov.justice.laa.bulkclaim.dto.sorting.SortDirection"*/-->

  <th:block th:with="direction=${field.getDirection(query.sort)}">
    <th scope="col" class="govuk-table__header" th:aria-sort="${direction.aria}">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-link--sort app-sort-link" th:href="${query.getRedirectUrl(field, direction.toggle())}">
        <span th:text="#{${messageKey}}"></span>
        <th:block th:replace="~{fragments/sort-arrow :: sortArrow(${direction})}"></th:block>
      </a>
    </th>
  </th:block>
</th:block>
