<th:block
    th:fragment="form(submissionsSearchForm)">
  <p class="govuk-body govuk-body-lead" th:text="#{search.intro}"></p>
  <div class="search-panel govuk-!-margin-bottom-6">


    <div class="govuk-form-group govuk-!-width-two-thirds" role="search"
         th:classappend="${#fields.hasErrors('submissionId')} ? 'govuk-form-group--error'">
      <label class="govuk-label govuk-label--s" for="submissionId"
             th:text="#{search.submissionId.label}">
      </label>

      <p th:replace="~{ fragments/error-components :: error-messages('submissionId')}"/>
      <input class="govuk-input" id="submissionId" th:field="*{submissionId}" type="search"
             aria-description="submission id search criteria">
    </div>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <span th:text="#{search.legend}"></span>
        <div class="govuk-body" th:text="#{search.dateHint}"></div>
      </legend>
      <div id="from-date-form-group" class="govuk-form-group"
           th:classappend="${#fields.hasErrors('submittedDateFrom')} ? 'govuk-form-group--error'">
        <div class="govuk-date-input__item">
          <div class="moj-datepicker" data-module="moj-date-picker"
               th:attr="data-max-date=${#dates.format(standardDate, 'dd/M/yyyy')}">

            <div class="govuk-form-group">
              <label class="govuk-label" for="submittedDateFrom"
                     th:text="#{search.submittedDateFrom.label}">
              </label>
              <p th:replace="~{ fragments/error-components :: error-messages('submittedDateFrom')}"/>
              <input class="govuk-input moj-js-datepicker-input " id="submittedDateFrom"
                     th:classappend="${#fields.hasErrors('submittedDateFrom')} ? 'govuk-input--error'"
                     th:field="*{submittedDateFrom}" type="text" aria-describedby="date-hint"
                     autocomplete="off">
            </div>

          </div>
        </div>
      </div>
      <div id="to-date-form-group" class="govuk-form-group"
           th:classappend="${#fields.hasErrors('submittedDateTo')} ? 'govuk-form-group--error'">
        <div class="govuk-date-input__item">
          <div class="moj-datepicker" data-module="moj-date-picker"
               th:attr="data-max-date=${#dates.format(standardDate, 'dd/M/yyyy')}">
            <div class="govuk-form-group">
              <label class="govuk-label" for="submittedDateTo"
                     th:text="#{search.submittedDateTo.label}">
              </label>
              <p th:replace="~{ fragments/error-components :: error-messages('submittedDateTo')}"/>
              <input class="govuk-input moj-js-datepicker-input " id="submittedDateTo"
                     th:classappend="${#fields.hasErrors('submittedDateTo')} ? 'govuk-input--error'"
                     th:field="*{submittedDateTo}" type="text" aria-describedby="date-hint"
                     autocomplete="off">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button"
              id="searchButton" data-govuk-button-init="">
        Search
      </button>

      <a class="govuk-link" th:href="@{/submissions/search}">Clear all</a>
    </div>
  </div>

</th:block>
