<th:block th:fragment="form(submissionsSearchForm)">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

      <div class="govuk-body">
        <div class="autocomplete-wrapper ">
          <label class="govuk-label govuk-label--m" for="submission-period"
                 th:text="#{search.submissionPeriod}"></label>
          <select class="govuk-select" id="submission-period"
                  th:field="*{submissionPeriod}"
                  data-module="make-autocomplete">

            <option value="" selected></option>
            <option
                th:each="period, idx : ${@submissionPeriodUtil.getAllPossibleSubmissionPeriods()}"
                th:value="${period.getKey()}"
                th:id="|submission-period-${idx.index}|"
                th:text="${period.getValue()}">Submission Period Option
            </option>
          </select>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

      <div class="govuk-body">
        <label class="govuk-label govuk-label--m" for="area-of-law"
               th:text="#{search.areaOfLaw}"></label>
        <select class="govuk-select" id="area-of-law"
                th:field="*{areaOfLaw}">

          <option value="" th:text="#{search.error.areaOfLaw.all}" selected>All</option>
          <option
              th:with="value=${T(uk.gov.justice.laa.dstew.payments.claimsdata.model.AreaOfLaw).LEGAL_HELP}"
              th:value="${value.name()}"
              th:text="${#strings.toUpperCase(#strings.substring(value, 0, 1)) + #strings.toLowerCase(#strings.substring(value, 1))}"></option>
          <option
              th:with="value=${T(uk.gov.justice.laa.dstew.payments.claimsdata.model.AreaOfLaw).CRIME_LOWER}"
              th:value="${value.name()}"
              th:text="${#strings.toUpperCase(#strings.substring(value, 0, 1)) + #strings.toLowerCase(#strings.substring(value, 1))}"></option>
          <option
              th:with="value=${T(uk.gov.justice.laa.dstew.payments.claimsdata.model.AreaOfLaw).MEDIATION}"
              th:value="${value.name()}"
              th:text="${#strings.toUpperCase(#strings.substring(value, 0, 1)) + #strings.toLowerCase(#strings.substring(value, 1))}"></option>

        </select>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

      <div class="govuk-body">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"
                    th:text="#{search.outcome}">
            </legend>
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="all-radio-option"
                       th:field="*{submissionStatus}" type="radio"
                       th:value="All">
                <label class="govuk-label govuk-radios__label" for="all-radio-option"
                       th:text="#{search.outcome.all}"></label>
              </div>
              <div class="govuk-radios__item"
                   th:with="value=${T(uk.gov.justice.laa.dstew.payments.claimsdata.model.SubmissionStatus).VALIDATION_IN_PROGRESS},valueSpaces=${#strings.replace(value, '_', ' ')}">
                <input class="govuk-radios__input" id="in-progress-radio-option" type="radio"
                       th:field="*{submissionStatus}" th:value="${value}">
                <label class="govuk-label govuk-radios__label" for="in-progress-radio-option"
                       th:text="${#strings.toUpperCase(#strings.substring(valueSpaces, 0, 1)) + #strings.toLowerCase(#strings.substring(valueSpaces, 1))}"></label>
              </div>
              <div class="govuk-radios__item"
                   th:with="value=${T(uk.gov.justice.laa.dstew.payments.claimsdata.model.SubmissionStatus).VALIDATION_SUCCEEDED},valueSpaces=${#strings.replace(value, '_', ' ')}">
                <input class="govuk-radios__input" id="succeeded-radio-option" type="radio"
                       th:field="*{submissionStatus}" th:value="${value}">
                <label class="govuk-label govuk-radios__label" for="succeeded-radio-option"
                       th:text="${#strings.toUpperCase(#strings.substring(valueSpaces, 0, 1)) + #strings.toLowerCase(#strings.substring(valueSpaces, 1))}"></label>
              </div>
              <div class="govuk-radios__item"
                   th:with="value=${T(uk.gov.justice.laa.dstew.payments.claimsdata.model.SubmissionStatus).VALIDATION_FAILED},valueSpaces=${#strings.replace(value, '_', ' ')}">
                <input class="govuk-radios__input" id="failed-radio-option" type="radio"
                       th:field="*{submissionStatus}" th:value="${value}">
                <label class="govuk-label govuk-radios__label" for="failed-radio-option"
                       th:text="${#strings.toUpperCase(#strings.substring(valueSpaces, 0, 1)) + #strings.toLowerCase(#strings.substring(valueSpaces, 1))}"></label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </fieldset>
  </div>
  <!--  <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Filter by office (multi select)
        </span>
      </summary>
      <div class="govuk-details__text">

        <table class="govuk-table" data-module="moj-multi-select" data-id-prefix="offices-">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" id="offices-select-all"></th>
            <th class="govuk-table__header" scope="col">Office</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-table__row&#45;&#45;selected"
              th:each="office,idx : ${userOffices}">
            <td class="govuk-table__cell">
              <div
                  class="govuk-checkboxes__item govuk-checkboxes&#45;&#45;small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input"
                       th:value="${office}" th:id="|${idx.index}-office-checkbox|">
                <label class="govuk-label govuk-checkboxes__label" th:for="|${idx.index}-office-checkbox|">
                  <span class="govuk-visually-hidden" th:text="|Select ${office}|"></span>
                </label>
              </div>
            </td>
            <td class="govuk-table__cell" th:text="${office}"></td>
          </tr>
          </tbody>
        </table>

      </div>
    </details>-->
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"
              th:text="#{search.offices}">
      </legend>
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <th:block th:each="office,idx : ${userOffices}">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" th:id="|${idx.index}-office-checkbox|"
                   type="checkbox"
                   name="offices"
                   th:checked="${#arrays.contains(submissionsSearchForm.offices, office)}"
                   th:value="${office}">
            <label class="govuk-label govuk-checkboxes__label"
                   th:for="|${idx.index}-office-checkbox|"
                   th:text="${office}">
            </label>
          </div>
        </th:block>

      </div>
    </fieldset>
  </div>

  <div class="govuk-button-group">
    <button
        type="submit"
        class="govuk-button"
        data-module="govuk-button"
        id="searchButton"
        data-govuk-button-init="">
      Search
    </button>
    <a class="govuk-link" th:href="@{/submissions/search}">Clear all</a>
  </div>
</th:block>
