<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{importInProgress.heading},~{::main}, ~{})}">
<main class="govuk-main-wrapper" id="main-content">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l" id="header">Import failed</h1>

      <div role="region" class="moj-alert moj-alert--warning moj-alert--with-heading" aria-label="warning: Some information could not be imported" data-module="moj-alert">
        <div>
          <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 2.44922L28.75 26.1992H1.25L15 2.44922ZM13.5107 9.49579H16.4697L16.2431 17.7678H13.7461L13.5107 9.49579ZM13.1299 21.82C13.1299 21.5661 13.1787 21.3285 13.2764 21.1071C13.374 20.8793 13.5075 20.6807 13.6768 20.5114C13.8525 20.3421 14.0544 20.2087 14.2822 20.111C14.5101 20.0134 14.7542 19.9645 15.0146 19.9645C15.2686 19.9645 15.5062 20.0134 15.7275 20.111C15.9554 20.2087 16.154 20.3421 16.3232 20.5114C16.4925 20.6807 16.626 20.8793 16.7236 21.1071C16.8213 21.3285 16.8701 21.5661 16.8701 21.82C16.8701 22.0804 16.8213 22.3246 16.7236 22.5524C16.626 22.7803 16.4925 22.9789 16.3232 23.1481C16.154 23.3174 15.9554 23.4509 15.7275 23.5485C15.5062 23.6462 15.2686 23.695 15.0146 23.695C14.7542 23.695 14.5101 23.6462 14.2822 23.5485C14.0544 23.4509 13.8525 23.3174 13.6768 23.1481C13.5075 22.9789 13.374 22.7803 13.2764 22.5524C13.1787 22.3246 13.1299 22.0804 13.1299 21.82Z" fill="currentColor" />
          </svg>
        </div>
        <div class="moj-alert__content">
          <h2 class="moj-alert__heading">There were some errors found</h2>
          3 of the claims have missing or incorrect information. All errors must be resolved and
          the file imported again.
        </div>

        <div class="moj-alert__action">
          <button class="moj-alert__dismiss" hidden>Dismiss</button>
        </div>
      </div>



      <table class="govuk-table" data-module="moj-sortable-table">

        <caption class="govuk-table__caption">Upload summary</caption>

        <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header" aria-sort="ascending">Submission reference
          </th>

          <th scope="col" class="govuk-table__header" aria-sort="none">Office account</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Submission type</th>

          <th scope="col" class="govuk-table__header" aria-sort="none">Submission date</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Total claims</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Total errors</th>

        </tr>
        </thead>

        <tbody class="govuk-table__body">

        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            <a href="#" class="govuk-link">a0665f96</a>
          </td>

          <td class="govuk-table__cell" data-sort-value="A1B2C3">A1B2C3</td>

          <td class="govuk-table__cell" data-sort-value="Crime lower">Crime lower</td>

          <td class="govuk-table__cell" data-sort-value="July 2025">July 2025</td>
          <td class="govuk-table__cell" data-sort-value="123">123</td>
          <td class="govuk-table__cell" data-sort-value="3">3</td>


        </tr>

        </tbody>
      </table>

      <table class="govuk-table" data-module="moj-sortable-table">

        <caption class="govuk-table__caption">Claim errors</caption>

        <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header" aria-sort="none">Office account</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Submission type</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">UFN</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">UCN</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Error description</th>

        </tr>
        </thead>

        <tbody class="govuk-table__body">

        <tr class="govuk-table__row">

          <td class="govuk-table__cell" data-sort-value="A1B2C3">A1B2C3</td>
          <td class="govuk-table__cell" data-sort-value="Legal help">Legal help</td>
          <td class="govuk-table__cell" data-sort-value="010113">010113</td>
          <td class="govuk-table__cell" data-sort-value="29384">29384</td>
          <td class="govuk-table__cell" data-sort-value="Trumble">Trumble</td>
          <td class="govuk-table__cell" data-sort-value="">The fee you have entered is not valid for Category 1A / YOUE matters. Please enter a valid fee in the profit costs field.</td>

        </tr>

        <tr class="govuk-table__row">

          <td class="govuk-table__cell" data-sort-value="A1B2C3">A1B2C3</td>
          <td class="govuk-table__cell" data-sort-value="Crime lower">Crime lower</td>
          <td class="govuk-table__cell" data-sort-value="010124/101">010124/101</td>
          <td class="govuk-table__cell" data-sort-value="29384">29384</td>
          <td class="govuk-table__cell" data-sort-value="Trumble">Trumble</td>
          <td class="govuk-table__cell" data-sort-value="">This is another type of error.</td>

        </tr>

        <tr class="govuk-table__row">

          <td class="govuk-table__cell" data-sort-value="A1B2C3">A1B2C3</td>
          <td class="govuk-table__cell" data-sort-value="Legal help">Legal help</td>
          <td class="govuk-table__cell" data-sort-value="010124/102">010124/102</td>
          <td class="govuk-table__cell" data-sort-value="29384">67784</td>
          <td class="govuk-table__cell" data-sort-value="Trumble">Dawson</td>
          <td class="govuk-table__cell" data-sort-value="">CP19 is not a valid OUTCOME_CODE</td>

        </tr>

        </tbody>
      </table>

      <nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
          </a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
              1
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>


      <div class="govuk-button-group">
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start"
           data-module="govuk-button">
          Upload new submission
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5"
               height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
          </svg>
        </a>
        <a class="govuk-link" href="#">Search for submission</a>
      </div>

    </div>
  </div>

</main>
</html>