<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{nilSubmission.heading}, ~{::main},
       ~{},~{})}">

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-width-container">
        <th:block id="back-link">
            <a th:href="@{/nil-submission-office}"
               class="govuk-back-link"
               th:text="#{common.back}"/>
        </th:block>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l" th:text="#{nilSubmission.areaOfLaw.heading}"/>
                <th:block th:replace="~{fragments/nil-submission-summary :: nil-submission-summary}"/>
                <form class="form" th:action="@{/nil-submission-areaoflaw}" method="post">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-radios govuk-radios--small"
                                 data-module="govuk-radios" id="arias-of-law-input-container">
                                <th:block th:each="areaOfLaw,idx : ${areasOfLaw}">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input"
                                               th:id="${idx.index > 0} ? |areas-of-law-input-${idx.index}| : |areas-of-law-input|"
                                               type="radio"
                                               name="areaOfLaw"
                                               th:value="${areaOfLaw.name()}"
                                               th:checked="${nilSubmissionForm.areaOfLaw == areaOfLaw.name()}">
                                        <label class="govuk-label govuk-radios__label"
                                               th:for="${idx.index > 0} ? |areas-of-law-input-${idx.index}| : |areas-of-law-input|"
                                               th:text="${areaOfLaw.getValue()}">
                                        </label>
                                    </div>
                                </th:block>

                            </div>
                        </fieldset>
                    </div>

                    <button type="submit" class="govuk-button" data-module="govuk-button"
                            th:text="#{nilSubmission.primaryButton}"/>

                </form>
            </div>
        </div>
    </div>
</main>
</html>