<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{nilSubmission.heading}, ~{::main},
       ~{::#back-link},~{})}">

<th:block id="back-link">
    <a th:href="@{/nil-submission-period}"
       class="govuk-back-link"
       th:text="#{common.back}"/>
</th:block>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div id="nil-submission-hint" class="govuk-hint" th:text="#{nilSubmission.hint}"></div>
                <h1 class="govuk-heading-l" th:text="#{nilSubmission.reference.heading}"></h1>
                <th:block th:replace="~{fragments/nil-submission-summary :: nil-submission-summary}"/>
                <form class="form" th:object="${nilSubmissionForm}" th:action="@{/nil-submission-reference}"
                      method="post">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-radios govuk-radios--inline govuk-radios--small"
                                 data-module="govuk-radios" id="arias-of-law-input-container">
                                <label class="govuk-label govuk-label--m"
                                       for="schedule-reference"
                                       th:text="${referenceLabel}">
                                </label>
                                <input class="govuk-input"
                                       id="schedule-reference"
                                       type="text"
                                       th:field="*{scheduleReference}"/>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button"
                                th:text="#{nilSubmission.primaryButton}"/>
                        <a th:href="@{${redirectUrl}}" th:text="Cancel" class="govuk-link govuk-link--no-visited-state"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</html>