<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{nilSubmission.heading}, ~{::main},
       ~{},~{})}">
<main class="govuk-main-wrapper" id="main-content">

    <div class="govuk-grid-row">
        <th:block th:replace="~{fragments/nil-submission-summary :: nil-submission-summary}"/>
        <form  class="form" th:object="${nilSubmissionForm}" th:action="@{/nil-submission/{office}(office=${nilSubmissionForm.office})}" method="post">
            <h1 class="govuk-heading-xl" th:text="#{nilSubmission.period.heading}"/>
            <div class="govuk-grid-column-full">
                <div class="govuk-details__text">
                    <fieldset class="govuk-fieldset">

                        <div class="govuk-body govuk-input--width-10">
                            <div class="autocomplete-wrapper">
                                <label class="govuk-label govuk-label--s" for="submission-period"
                                       th:text="#{search.submissionPeriod}"></label>

                                <select class="govuk-select"
                                        id="submission-period"
                                        th:field="*{submissionPeriod}"
                                        data-module="make-autocomplete">

                                    <option value=""></option>

                                    <option
                                            th:each="period, idx : ${submissionPeriods}"
                                            th:value="${period}"
                                            th:id="|submission-period-${idx.index}|"
                                            th:text="${period}">
                                    </option>

                                </select>

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="govuk-details__text">
                <label class="govuk-label govuk-label--s"
                       th:text="${nilSubmissionForm.submissionPeriod}"></label>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button"
                    th:text="#{nilSubmission.primaryButton}"/>
        </form>
    </div>
</main>
</html>