<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{nilSubmission.heading}, ~{::main},
       ~{::#back-link},~{})}">

<!--<th:block id="back-link">-->
<!--    <a th:href="@{/nil-submission-areaoflaw}"-->
<!--       class="govuk-back-link"-->
<!--       th:text="#{common.back}"/>-->
<!--</th:block>-->

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l" th:text="${submissionInfoMessagePageHeading}"></h1>
            <th:block th:replace="~{fragments/nil-submission-summary :: nil-submission-summary}"/>

            <p class="govuk-body" th:text="${submissionInfoMessageText}"></p>
            <p class="govuk-body">
                Go back to
                <a
                        th:href="@{/upload}"
                        th:data-testid="submit-a-bulk-claim"
                        class="govuk-link govuk-link--no-visited-state">
                    <th:block th:text="#{nilSubmission.submit}"></th:block>
                </a>
                or
                <a
                        th:href="@{/submissions/search}"
                        th:data-testid="search-for-previous-submission"
                        class="govuk-link govuk-link--no-visited-state">
                    <th:block th:text="#{nilSubmission.search}"></th:block>
                </a>
            </p>
        </div>
    </div>
</main>
</html>