<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{search.title},~{::main}, ~{}, 'search-submissions')}">
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <form id="claims-search-form" th:action="@{/submissions/search}"
              th:object="${submissionsSearchForm}" method="POST">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

          <div th:replace="~{fragments/error-components :: error-summary}"/>

          <h1 class="govuk-heading-l" th:text="#{search.title}"></h1>

          <th:block th:insert="~{fragments/submission-search :: form(${submissionsSearchForm})}"/>

        </form>

      </div>
    </div>
  </div>
</main>
</html>