<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{importInProgress.heading},~{::main}, ~{})}">
<main class="govuk-main-wrapper" id="main-content">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="moj-interruption-card">
        <div class="moj-interruption-card__content">
          <h1 class="moj-interruption-card__heading" th:text="#{importInProgress.heading}"/>
          <div class="moj-interruption-card__body">
            <p th:text="#{importInProgress.leadParagraph}"/>

            <p>
              <span class="govuk-!-font-weight-bold"
                    th:text="#{importInProgress.upload}"/>:
              <span id="bulk-submission-date" th:text="|${#temporals.format(inProgressSummary.uploadDate(),'d MMM yyyy')} at ${#temporals.format(inProgressSummary.uploadDate(),'hh:MM:SS')}|"/>
            </p>

            <p>
              <span class="govuk-!-font-weight-bold"
                    th:text="#{importInProgress.submissionReference}"/>:
              <span id="bulk-submission-id" th:text="${inProgressSummary.submissionReference()}"/>
            </p>

            <p>
              <th:block th:if="${uploadedFilename != null}">
                <span class="govuk-!-font-weight-bold"
                      th:text="#{importInProgress.file}"/>:
                <span id="bulk-submission-file-name" th:text="${inProgressSummary.fileName()}"/>
              </th:block>
            </p>
          </div>
          <div class="govuk-button-group moj-interruption-card__actions">

            <a th:href="@{/search}" role="button" draggable="false" class="govuk-button govuk-button--inverse"
               data-module="govuk-button" th:text="#{importInProgress.goToSearch}"/>

            <a role="button" draggable="false" class="govuk-button govuk-button--inverse"
               data-module="govuk-button" th:text="#{importInProgress.copyButton}"/>


          </div>
        </div>
      </div>

    </div>
  </div>

</main>
</html>