<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(${claimDetailView.pageTitle()},~{::main},~{::#back-link},'search-submissions')}">

<!--/*@thymesVar id="claimDetailView" type="uk.gov.justice.laa.bulkclaim.viewmodels.claimcase.ClaimDetailView$CrimeLower"*/-->
<!--/*@thymesVar id="banner" type="uk.gov.justice.laa.bulkclaim.dto.submission.claim.viewmodels.ClaimStatusBanner"*/-->
<!--/*@thymesVar id="claimMessages" type="uk.gov.justice.laa.bulkclaim.dto.submission.messages.MessagesSummary"*/-->

<th:block id="back-link">
  <a th:href="${viewSubmissionBackLink}"
     class="govuk-back-link"
     th:text="#{common.back}"/>
</th:block>
<main class="govuk-main-wrapper" id="main-content">

  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l"
            th:text="${claimDetailView.pageTitle()}"/>
        <th:block th:unless="${areaOfLaw == 'MEDIATION'}">
          <p class="govuk-body">
            <span class="govuk-!-font-weight-bold" th:text="#{viewClaim.summary.ufn}"></span>
            <th:block
                th:text="${@thymeleafUtils.getFormattedValue(claimDetailView.getUFN()).resolve(#messages)}"></th:block>
            <br/>
            <span class="govuk-!-font-weight-bold" th:text="#{viewClaim.summary.feeCode}"></span>
            <th:block
                th:text="${@thymeleafUtils.getFormattedValue(claimDetailView.getFeeCode()).resolve(#messages)}"></th:block>
          </p>
        </th:block>
        <th:block th:if="${areaOfLaw == 'MEDIATION'}">
          <p class="govuk-body">
            <span class="govuk-!-font-weight-bold"
                  th:text="#{viewClaim.summary.clientName1}"></span>
            <th:block
                th:text="${@thymeleafUtils.getFormattedValue(claimDetailView.getClient1Name()).resolve(#messages)}"></th:block>
            <br/>
            <span class="govuk-!-font-weight-bold" th:text="#{viewClaim.summary.ucn1}"></span>
            <th:block
                th:text="${@thymeleafUtils.getFormattedValue(claimDetailView.getClient1UCN()).resolve(#messages)}"></th:block>
          </p>
          <p class="govuk-body">
            <span class="govuk-!-font-weight-bold"
                  th:text="#{viewClaim.summary.clientName2}"></span>
            <th:block
                th:text="${@thymeleafUtils.getFormattedValue(claimDetailView.getClient2Name()).resolve(#messages)}"></th:block>
            <br/>
            <span class="govuk-!-font-weight-bold" th:text="#{viewClaim.summary.ucn2}"></span>
            <th:block
                th:text="${@thymeleafUtils.getFormattedValue(claimDetailView.getClient2UCN()).resolve(#messages)}"></th:block>
          </p>
        </th:block>
      </div>

      <div class="govuk-grid-column-full govuk-!-margin-bottom-4"
           id="print-button-container"
           data-module="laa-print-button"
           data-print-action-container="print-button-container"></div>

      <th:block
          th:replace="~{fragments/claim-status-banner :: claim-status-banner(${banner}, ${claimMessages})}"/>

      <!--Summary-->
      <div class="govuk-grid-column-full">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title" th:text="#{viewClaim.summary.title}"/>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row"
                   th:each="row, idx : ${claimDetailView.summaryRows()}">
                <dt class="govuk-summary-list__key" th:text="#{${'claimDetail.rows.' + row.key}}"/>
                <dd class="govuk-summary-list__value"
                    th:text="${@thymeleafUtils.getFormattedValue(row.value).resolve(#messages)}"/>
              </div>
            </dl>
          </div>
        </div>
      </div>

      <th:block
          th:replace="~{fragments/claim-value-table :: claim-value-table(#{viewClaim.values.title}, ${claimDetailView.valueRows()}, ${showCurrentCalculated})}"/>

      <th:block th:if="${isAssessedColumnEnabled}">
        <th:block
            th:replace="~{fragments/claim-value-table :: claim-value-table(#{viewClaim.totalAllowedValue.title}, ${claimDetailView.totalRows()}, ${showCurrentCalculated})}"/>
      </th:block>

    </div>
  </div>
</main>
</html>
