<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{viewSubmission.heading},~{::main},~{}, 'search-submissions')}">
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <th:block
          th:replace="~{fragments/submission-details/validation-error-banner :: validation-error-banner(${messagesSummary})}"></th:block>
      <th:block
          th:replace="~{fragments/submission-details/summary :: summary(' govuk-tag--red', #{submission.summary.status.rejected}, false, false)}"></th:block>
      <th:block
          th:replace="~{fragments/submission-details/claim-messages-errors :: claim-messages-errors}"></th:block>
    </div>
  </div>
</main>
</html>
