<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{viewSubmission.heading},~{::main},~{}, 'search-submissions')}">
<main class="govuk-main-wrapper" id="main-content"
      th:with="invalidSubmission=${submissionSummary.status() == 'Invalid'}">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" data-module="laa-print-button">
        <strong class="govuk-tag govuk-tag--pink"
                th:text="${submissionSummary.status}"/>
        <h1 class="govuk-heading-l govuk-!-padding-top-4" th:text="#{viewSubmission.heading}"/>
      </div>

      <div class="govuk-grid-column-two-thirds-from-desktop">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"
                th:text="#{submission.properties.submissionDateTimeAbbreviated}"/>
            <dd class="govuk-summary-list__value govuk-!-font-weight-bold"
                th:text="|${#temporals.format(submissionSummary.submitted,'d MMM yyyy')} at ${#temporals.format(submissionSummary.submitted(),'HH:mm:ss')}|"/>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"
                th:text="#{submission.properties.submissionPeriod}"/>
            <dd class="govuk-summary-list__value"
                th:text="${#temporals.format(submissionSummary.submissionPeriod, 'MMM YYYY')}"/>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" th:text="#{submission.properties.officeAccount}"/>
            <dd class="govuk-summary-list__value"
                th:text="${submissionSummary.officeAccount}"/>
          </div>
          <div class="govuk-summary-list__row" th:unless="${invalidSubmission}">
            <dt class="govuk-summary-list__key" th:text="#{submission.properties.submissionValue}"/>
            <dd class="govuk-summary-list__value"
                th:text="${@currencyUtil.toString(submissionSummary.submissionValue)}"/>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" th:text="#{submission.properties.areaOfLaw}">
            <dd class="govuk-summary-list__value"
                th:text="${#strings.capitalize(#strings.toLowerCase(submissionSummary.areaOfLaw))}"/>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"
                th:text="#{submission.properties.submissionReferenceAbbreviated}"/>
            <dd class="govuk-summary-list__value"
                th:text="${submissionSummary.submissionReference}"/>

          </div>

        </dl>


      </div>

      <div class="govuk-grid-column-full" th:unless="${invalidSubmission}">
        <nav class="moj-sub-navigation" aria-label="Sub navigation">

          <ul class="moj-sub-navigation__list">
            <!--/*@thymesVar id="navTab" type="uk.gov.justice.laa.bulkclaim.constants.ViewSubmissionNavigationTab"*/-->
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link"
                 th:with="isCurrent=${navTab.toString() == 'CLAIM_DETAILS'},
                  url=@{/view-submission-detail(navTab='CLAIM_DETAILS')}"
                 th:attr="aria-current=${isCurrent ? 'page' : null}"
                 th:href="${isCurrent ? '#claims' : url}"
                 th:text="#{viewSubmission.claims.subHeading}"/>
            </li>
            <li class="moj-sub-navigation__item" th:unless="${#strings.containsIgnoreCase(submissionSummary?.areaOfLaw, 'crime')}">
              <a class="moj-sub-navigation__link"
                 th:with="isCurrent=${navTab.toString() == 'MATTER_STARTS'},
                  url=@{/view-submission-detail(navTab='MATTER_STARTS')}"
                 th:attr="aria-current=${isCurrent ? 'page' : null}"
                 th:href="${isCurrent ? '#matter-starts' : url}"
                 th:text="#{viewSubmission.matterStarts.subHeading}"/>
            </li>

          </ul>

        </nav>

      </div>

      <th:block th:unless="${invalidSubmission}">

        <!--Claim details information-->
        <th:block th:if="${navTab.toString() == 'CLAIM_DETAILS'}">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l" id="claims" th:text="#{viewSubmission.claims.subHeading}"/>

            <div class="moj-scrollable-pane">
              <table class="govuk-table" data-module="moj-sortable-table">

                <caption class="govuk-table__caption govuk-table__caption--m"
                         th:text="#{viewSubmission.claims.allClaims.caption}"/>

                <thead class="govuk-table__head">
                <tr class="govuk-table__row">

                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{viewSubmission.claims.allClaims.number}"/>
                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{submission.claim.properties.uniqueFileNumberAbbr}"/>
                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{submission.claim.properties.uniqueClientNumberAbbr}"/>
                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{submission.claim.properties.client}"/>
                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{submission.claim.properties.category}"/>
                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{submission.claim.properties.matter}"/>
                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{submission.claim.properties.concludedClaimed}"/>
                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{submission.claim.properties.messages}"/>
                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{submission.claim.properties.feeType}"/>
                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{submission.claim.properties.feeCode}"/>
                  <th scope="col" class="govuk-table__header" aria-sort="none"
                      th:text="#{submission.claim.properties.claimValue}"/>

                </tr>
                </thead>

                <tbody class="govuk-table__body">

                <tr class="govuk-table__row"
                    th:each="claim, idx : ${claimDetails.submissionClaims}"
                    th:id="|claim-${idx.index}|">

                  <td class="govuk-table__cell"
                      th:id="|line-number-${idx.index}|"
                      th:data-sort-value="${claim.lineNumber}"
                      th:text="${claim.lineNumber}"/>
                  <td class="govuk-table__cell"
                      th:id="|unique-file-number-${idx.index}|"
                      th:data-sort-value="${claim.ufn}">
                    <a th:href="@{/submission/claim/{id}(id=${claim.id})}"
                       th:text="${claim.ufn}"/></td>
                  </td>
                  <td class="govuk-table__cell"
                      th:id="|unique-client-number-${idx.index}|"
                      th:data-sort-value="${claim.ucn}"
                      th:text="${claim.ucn}"/>
                  <td class="govuk-table__cell"
                      th:id="|client-name-${idx.index}|"
                      th:data-sort-value="${claim.client}"
                      th:text="${claim.client}"/>
                  <td class="govuk-table__cell"
                      th:id="|category-${idx}|"
                      th:data-sort-value="${claim.category}"
                      th:text="${claim.category}"/>
                  <td class="govuk-table__cell"
                      th:id="|matter-${idx}|"
                      th:data-sort-value="${claim.matter}"
                      th:text="${claim.matter}"/>
                  <td class="govuk-table__cell"
                      th:id="|concluded-claimed-${idx}|"
                      th:data-sort-value="${claim.concludedOrClaimedDate}"
                      th:text="${#temporals.format(claim.concludedOrClaimedDate, 'dd MMMM yyyy')}"/>
                  <td class="govuk-table__cell"
                      th:id="|messages-${idx.index}|"
                      th:data-sort-value="${claim.totalMessages()}">
                    <a th:if="${claim.totalMessages() > 0}"
                       th:href="@{/submission/claim/{id}/messages(id=${claim.id})}"
                       th:text="#{submission.claim.properties.messagesLink(${claim.totalMessages()})}"/>
                    <span th:if="${claim.totalMessages() == 0}"
                          aria-hidden="true"
                          th:aria-label="#{submission.claim.properties.noMessages}"/>
                  </td>
                  <td class="govuk-table__cell"
                      th:id="|fee-type-${idx.index}|"
                      th:data-sort-value="${claim.feeType}"
                      th:text="${claim.feeType}"/>
                  <td class="govuk-table__cell"
                      th:id="|fee-code-${idx.index}|"
                      th:data-sort-value="${claim.feeCode}"
                      th:text="${claim.feeCode}"/>
                  <td class="govuk-table__cell"
                      th:with="cost=${@currencyUtil.toString(claim.costsDetails.claimValue)}"
                      th:id="|claim-value-${idx.index}|"
                      th:data-sort-value="${cost}"
                      th:text="${cost}"/>
                </tr>


                </tbody>
              </table>
            </div>
            <nav
                th:replace="~{fragments/pagination :: pagination(currentUrl='/view-submission-detail?navTab=CLAIM_DETAILS', page=${claimDetails.pagination})}"></nav>
          </div>
        </th:block>

        <th:block th:if="${navTab.toString() == 'MATTER_STARTS' && !#strings.containsIgnoreCase(submissionSummary?.areaOfLaw, 'crime')}">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l" id="matter-starts"
                th:text="#{viewSubmission.matterStarts.subHeading}"/>

            <p class="govuk-body"
               th:if="${matterStartsDetails.matterTypes().isEmpty()}"
               th:text="#{viewSubmission.matterStarts.none}"/>

            <th:block th:if="${#strings.containsIgnoreCase(submissionSummary.areaOfLaw, 'legal')}">
              <dl class="govuk-summary-list"
                  th:unless="${matterStartsDetails.matterTypes().isEmpty()}">
                <div class="govuk-summary-list__row"
                     th:each="matterStart, idx : ${matterStartsDetails.matterTypes}">
                  <dt class="govuk-summary-list__key"
                      th:text="${matterStart.key.description}"/>
                  <dd class="govuk-summary-list__value"
                      th:text="${matterStart.value}"/>
                </div>
              </dl>
            </th:block>
            <th:block th:if="${#strings.containsIgnoreCase(submissionSummary.areaOfLaw, 'mediation')}">
              <dl class="govuk-summary-list"
                  th:unless="${matterStartsDetails.matterTypes().isEmpty()}">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"
                      th:text="#{viewSubmission.matterStarts.newMatterStarts}"/>
                  <dd class="govuk-summary-list__value"
                      th:text="${matterStartsDetails.getTotalNumberOfMatterStarts()}"/>
                </div>
              </dl>
            </th:block>
          </div>
        </th:block>


      </th:block>

      <th:block th:if="${invalidSubmission}">
        <div class="govuk-grid-column-full">
          <th:block
              th:replace="~{fragments/claim-messages :: messagesTable(${claimErrorDetails})}"/>
          <nav
              th:replace="~{fragments/pagination :: pagination(currentUrl='/view-submission-detail', page=${claimErrorDetails.pagination})}"></nav>
        </div>
      </th:block>
    </div>
  </div>
</main>
</html>
