<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(#{viewSubmission.heading},~{::main},~{})}">
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <strong class="govuk-tag govuk-tag--pink">
          Submitted
        </strong>
        <h1 class="govuk-heading-l govuk-!-padding-top-4" th:text="#{viewSubmission.heading}"/>
      </div>

      <div class="govuk-grid-column-full">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"
                th:text="#{submission.properties.submissionReference}"/>
            <dd class="govuk-summary-list__value">
              <span class="govuk-!-font-weight-bold">578633c1-6244-4dfd-a738-5b45afee0717</span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" th:text="#{submission.properties.submissionDate}"/>
            <dd class="govuk-summary-list__value">
              July 2025
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" th:text="#{submission.properties.officeAccount}"/>
            <dd class="govuk-summary-list__value">
              C1B1C1
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" th:text="#{submission.properties.submissionValue}"/>
            <dd class="govuk-summary-list__value">
              £5432.00
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" th:text="#{submission.properties.areaOfLaw}">
            <dd class="govuk-summary-list__value">
              Legal help
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" th:text="#{submission.properties.submitted}"/>
            <dd class="govuk-summary-list__value">
              31/4/2025
            </dd>
          </div>

        </dl>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">

          <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page" href="#1"
                 th:text="#{viewSubmission.claims.subHeading}"/>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="#2"
                 th:text="#{viewSubmission.matterStarts.subHeading}"/>
            </li>

          </ul>

        </nav>
      </div>


      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l" th:text="#{viewSubmission.claims.subHeading}"/>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m"
                   th:text="#{viewSubmission.claims.submissionCosts.caption}"/>
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"
                th:text="#{viewSubmission.claims.submissionCosts.tableHeader.claimed}"/>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"
                th:text="#{viewSubmission.claims.submissionCosts.profitCosts}"/>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"
                th:text="#{viewSubmission.claims.submissionCosts.disbursements}"/>
            <td class="govuk-table__cell">£1000.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"
                th:text="#{viewSubmission.claims.submissionCosts.additionalPayments}"/>
            <td class="govuk-table__cell">£1100.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"
                th:text="#{viewSubmission.claims.submissionCosts.fixedFee}"/>
            <td class="govuk-table__cell">£2000.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"
                th:text="#{viewSubmission.claims.submissionCosts.submissionValue}"/>
            <td class="govuk-table__cell">£4100.00</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-grid-column-full">

        <div class="moj-scrollable-pane">
          <table class="govuk-table" data-module="moj-sortable-table">

            <caption class="govuk-table__caption govuk-table__caption--m"
                     th:text="#{viewSubmission.claims.allClaims.caption}"/>

            <thead class="govuk-table__head">
            <tr class="govuk-table__row">

              <th scope="col" class="govuk-table__header" aria-sort="none"
                  th:text="#{viewSubmission.claims.allClaims.number}"/>
              <th scope="col" class="govuk-table__header" aria-sort="none"
                  th:text="#{submission.claim.properties.uniqueFileNumber}"/>
              <th scope="col" class="govuk-table__header" aria-sort="none"
                  th:text="#{submission.claim.properties.uniqueClaimNumber}"/>
              <th scope="col" class="govuk-table__header" aria-sort="none"
                  th:text="#{submission.claim.properties.client}"/>
              <th scope="col" class="govuk-table__header" aria-sort="none"
                  th:text="#{submission.claim.properties.category}"/>
              <th scope="col" class="govuk-table__header" aria-sort="none"
                  th:text="#{submission.claim.properties.matter}"/>
              <th scope="col" class="govuk-table__header" aria-sort="none"
                  th:text="#{submission.claim.properties.concludedClaimed}"/>
              <th scope="col" class="govuk-table__header" aria-sort="none"
                  th:text="#{submission.claim.properties.feeType}"/>
              <th scope="col" class="govuk-table__header" aria-sort="none"
                  th:text="#{submission.claim.properties.feeCode}"/>
              <th scope="col" class="govuk-table__header" aria-sort="none"
                  th:text="#{submission.claim.properties.claimValue}"/>

            </tr>
            </thead>

            <tbody class="govuk-table__body">

            <tr class="govuk-table__row">

              <td class="govuk-table__cell" data-sort-value="1">1</td>
              <td class="govuk-table__cell" data-sort-value="010113">010113</td>
              <td class="govuk-table__cell" data-sort-value="29384">29384</td>
              <td class="govuk-table__cell" data-sort-value="Giordano">Giordano</td>
              <td class="govuk-table__cell" data-sort-value="Family">Family</td>
              <td class="govuk-table__cell" data-sort-value="FAMD:FRES">FAMD:FRES</td>
              <td class="govuk-table__cell" data-sort-value="18/3/2025">18/3/2025</td>
              <td class="govuk-table__cell" data-sort-value="Escape">Escape</td>
              <td class="govuk-table__cell" data-sort-value="432EC">432EC</td>
              <td class="govuk-table__cell" data-sort-value="£234.56">£234.56</td>

            </tr>

            <tr class="govuk-table__row">

              <td class="govuk-table__cell" data-sort-value="2">2</td>
              <td class="govuk-table__cell" data-sort-value="100323/098">100323/098</td>
              <td class="govuk-table__cell" data-sort-value="29384">29384</td>
              <td class="govuk-table__cell" data-sort-value="Amoto">Amoto</td>
              <td class="govuk-table__cell" data-sort-value="Immigration and Asylum">Immigration and
                Asylum
              </td>
              <td class="govuk-table__cell" data-sort-value="IAXL:IUAS">IAXL:IUAS</td>
              <td class="govuk-table__cell" data-sort-value="14/3/2025">14/3/2025</td>
              <td class="govuk-table__cell" data-sort-value="Fixed">Fixed</td>
              <td class="govuk-table__cell" data-sort-value="123AB">123AB</td>
              <td class="govuk-table__cell" data-sort-value="£56.00">£56.00</td>

            </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
</html>
