<th:block th:fragment="claim-details">
  <!--Claim details information-->
  <th:block th:if="${navTab.toString() == ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()}">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m" id="messages"
          th:text="#{submission.summary.claims.caption}"></h2>

      <th:block th:if="${claimDetails == null or claimDetails.submissionClaims.isEmpty()}">
        <p class="govuk-body" th:text="#{submission.summary.claims.none}"></p>
      </th:block>

      <div class="moj-scrollable-pane"
           th:if="${claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
        <div id="claims-table"></div>
        <table class="govuk-table"
               th:with="area=${submissionSummary.areaOfLaw != null ? #strings.toLowerCase(submissionSummary.areaOfLaw) : ''},
                        isCrime=${area.contains('crime lower')},
                        isCivil=${area.contains('legal help')},
                        isMediation=${area.contains('mediation')}">

          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden"
                   th:text="#{submission.summary.claims.caption}"></caption>

          <thead class="govuk-table__head" th:if="${isCrime}">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"
                th:text="#{submission.summary.claims.table.claim}"></th>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('client_surname',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.clientSurname')}"></th:block>
            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('client_forename',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.clientInitial')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('unique_file_number',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.ufn')}"></th:block>


            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('fee_code',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.feeCode')}"></th:block>


            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('case_concluded_date',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.dateWorkConcluded')}"></th:block>


            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('total_amount',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.calculatedValue')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('escape_case_flag',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.escapeCase')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('total_warnings',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.messages')}"></th:block>

          </tr>
          </thead>

          <thead class="govuk-table__head" th:if="${isCivil}">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"
                th:text="#{submission.summary.claims.table.claim}"></th>


            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('client_surname',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.clientSurname')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('client_forename',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.clientForename')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('unique_file_number',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.ufn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('unique_client_number',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.ucn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('fee_code',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.feeCode')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('total_amount',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.calculatedValue')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('escape_case_flag',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.escapeCase')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('total_warnings',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.messages')}"></th:block>
          </thead>

          <thead class="govuk-table__head" th:if="${isMediation}">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"
                th:text="#{submission.summary.claims.table.claim}"></th>


            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('client_surname',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.client1Surname')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('client_forename',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.client1Forename')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('unique_client_number',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.client1Ucn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('client_2_surname',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.client2Surname')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('client_2_forename',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.client2Forename')}"></th:block>


            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('client_2_ucn',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.client2Ucn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('fee_code',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.feeCode')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header ::sortableHeader('total_amount',${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()},
                                                                               'submission.summary.claims.table.calculatedValue')}"></th:block>
          </tr>
          </thead>

          <tbody class="govuk-table__body"
                 th:if="${isCrime and claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
          <tr class="govuk-table__row"
              th:each="claim, idx : ${claimDetails.submissionClaims}">
            <td class="govuk-table__cell">
              <th:block
                  th:replace="~{fragments/submission-details/claim-row-detail :: claim-row-detail(claimHref=@{/submission/claim/{id}(id=${claim.id}, page=${page})}, status=${claim.status})}"></th:block>
            </td>
            <td class="govuk-table__cell"
                th:text="${claim.clientSurname ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.clientForename != null ? #strings.substring(claim.clientForename, 0, 1) : '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.ufn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.feeCode ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.concludedOrClaimedDate != null ? #temporals.format(claim.concludedOrClaimedDate, 'dd MMM yyyy') : '-'}"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"
                th:attr="data-sort-value=${claim.costsDetails != null && claim.costsDetails.claimValue != null ? claim.costsDetails.claimValue : 0}"
                th:text="${claim.costsDetails != null && claim.costsDetails.claimValue != null ? @currencyUtil.toString(claim.costsDetails.claimValue) : '-'}"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--pink"
                      th:if="${claim.escapeCase}"
                      th:text="#{submission.summary.claims.escapeCase.yes}"></strong>
              <span th:if="${claim.escapeCase == null}"
                    th:text="'NA'"></span>
              <span th:if="${claim.escapeCase != null and !claim.escapeCase}"
                    th:text="#{submission.summary.claims.escapeCase.no}"></span>
            </td>
            <td class="govuk-table__cell">
              <a class="govuk-link"
                 th:if="${claim.totalMessages > 0}"
                 th:href="@{/submission/claim/{id}(id=${claim.id}, page=${page})}"
                 th:text="#{submission.summary.claims.messages.count(${claim.totalMessages})}"></a>
            </td>
          </tr>
          </tbody>

          <tbody class="govuk-table__body"
                 th:if="${isCivil and claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
          <tr class="govuk-table__row"
              th:each="claim, idx : ${claimDetails.submissionClaims}">
            <td class="govuk-table__cell" th:with="claimDetailsUrl=@{/submission/claim/{id}(id=${claim.id})}">
              <th:block
                  th:replace="~{fragments/submission-details/claim-row-detail :: claim-row-detail(claimHref=${@thymeleafHrefUtils.build(claimDetailsUrl, 'page', page, 'navTab', 'CLAIM_DETAILS')}, status=${claim.status})}"></th:block>
            </td>
            <td class="govuk-table__cell"
                th:text="${claim.clientSurname ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.clientForename ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.ufn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.ucn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.feeCode ?: '-'}"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"
                th:attr="data-sort-value=${claim.costsDetails != null && claim.costsDetails.claimValue != null ? claim.costsDetails.claimValue : 0}"
                th:text="${claim.costsDetails != null && claim.costsDetails.claimValue != null ? @currencyUtil.toString(claim.costsDetails.claimValue) : '-'}"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--pink"
                      th:if="${claim.escapeCase}"
                      th:text="#{submission.summary.claims.escapeCase.yes}"></strong>
              <span th:if="${claim.escapeCase == null}"
                    th:text="'-'"></span>
              <span th:if="${claim.escapeCase != null and !claim.escapeCase}"
                    th:text="#{submission.summary.claims.escapeCase.no}"></span>
            </td>
            <td class="govuk-table__cell" th:with="claimDetailsUrl=@{/submission/claim/{id}(id=${claim.id})}">
              <a class="govuk-link"
                 th:if="${claim.totalMessages > 0}"
                 th:href="${@thymeleafHrefUtils.build(claimDetailsUrl, 'page', page, 'navTab', ViewSubmissionNavigationTab.CLAIM_DETAILS.toString())}"
                 th:text="#{submission.summary.claims.messages.count(${claim.totalMessages})}"></a>
            </td>
          </tr>
          </tbody>

          <tbody class="govuk-table__body"
                 th:if="${isMediation and claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
          <tr class="govuk-table__row"
              th:each="claim, idx : ${claimDetails.submissionClaims}">
            <td class="govuk-table__cell">
              <th:block
                  th:replace="~{fragments/submission-details/claim-row-detail :: claim-row-detail(claimHref=@{/submission/claim/{id}(id=${claim.id}, page=${page})}, status=${claim.status})}"></th:block>
            </td>
            <td class="govuk-table__cell"
                th:text="${claim.clientSurname ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.clientForename ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.ucn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.client2Surname ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.client2Forename ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.client2Ucn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.feeCode ?: '-'}"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"
                th:attr="data-sort-value=${claim.costsDetails != null && claim.costsDetails.claimValue != null ? claim.costsDetails.claimValue : 0}"
                th:text="${claim.costsDetails != null && claim.costsDetails.claimValue != null ? @currencyUtil.toString(claim.costsDetails.claimValue) : '-'}"></td>
          </tr>
          </tbody>


        </table>
      </div>
      <div
              th:with="
    baseUrl=@{/view-submission-detail(navTab=${ViewSubmissionNavigationTab.CLAIM_DETAILS.toString()}, submissionId=${submissionId})},
    currentSort=${param.sort != null ? param.sort[0] : null},
    claimDetailsUrl=${currentSort != null ? @thymeleafHrefUtils.build(baseUrl, 'sort', currentSort) : baseUrl},
    claimDetailsUrlWithAnchor=${claimDetailsUrl + '#claims-table'}
  ">
      <th:block th:if="${claimDetails != null}"
                  th:insert="~{fragments/pagination :: pagination(currentUrl=${claimDetailsUrlWithAnchor},
           page=${claimDetails.pagination})}">
        </th:block>
      </div>
    </div>
  </th:block>
</th:block>
