<th:block th:fragment="matter-starts">
  <th:block th:if="${navTab.toString() == 'MATTER_STARTS' && !#strings.containsIgnoreCase(submissionSummary?.areaOfLaw, 'crime')}">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="matter-starts"
          th:text="#{viewSubmission.matterStarts.subHeading}"></h2>

      <p class="govuk-body"
         th:if="${matterStartsDetails.matterTypes().isEmpty()}"
         th:text="#{viewSubmission.matterStarts.none}"></p>

      <th:block th:if="${#strings.containsIgnoreCase(submissionSummary.areaOfLaw, 'legal')}">
        <dl class="govuk-summary-list"
            th:unless="${matterStartsDetails.matterTypes().isEmpty()}">
          <div class="govuk-summary-list__row"
               th:each="matterStart, idx : ${matterStartsDetails.matterTypes}">
            <dt class="govuk-summary-list__key"
                th:text="${matterStart.key.description}"></dt>
            <dd class="govuk-summary-list__value"
                th:text="${matterStart.value}"></dd>
          </div>
        </dl>
      </th:block>
      <th:block th:if="${#strings.containsIgnoreCase(submissionSummary.areaOfLaw, 'mediation')}">
        <dl class="govuk-summary-list"
            th:unless="${matterStartsDetails.matterTypes().isEmpty()}">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"
                th:text="#{viewSubmission.matterStarts.newMatterStarts}"></dt>
            <dd class="govuk-summary-list__value"
                th:text="${matterStartsDetails.getTotalNumberOfMatterStarts()}"></dd>
          </div>
        </dl>
      </th:block>
    </div>
  </th:block>
</th:block>
