<th:block th:fragment="matter-starts">
  <th:block
      th:if="${navTab.toString() == 'MATTER_STARTS' && !#strings.containsIgnoreCase(submissionSummary?.areaOfLaw, 'crime')}">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="matter-starts"
          th:text="#{viewSubmission.matterStarts.subHeading}"></h2>

      <p class="govuk-body"
         th:if="${matterStartsDetails.isEmpty()}"
         th:text="#{viewSubmission.matterStarts.none}"></p>

      <!--/*@thymesVar id="matterStart" type="uk.gov.justice.laa.bulkclaim.dto.submission.SubmissionMatterStartsRow"*/-->
      <dl class="govuk-summary-list"
          th:unless="${matterStartsDetails.isEmpty()}">
        <div class="govuk-summary-list__row"
             th:each="matterStart, idx : ${matterStartsDetails}">
          <dt class="govuk-summary-list__key"
              th:text="${matterStart.description}"></dt>
          <dd class="govuk-summary-list__value"
              th:text="${matterStart.numberOfMatterStarts}"></dd>
        </div>
      </dl>

    </div>
  </th:block>
</th:block>
