.sabc-govuk-table__cell__bold-bottom {
  border-bottom: 1.5px solid #000 !important;
}

.sabc-container__align_right {
  display: flex;
  justify-content: flex-end; /* push items to the right */
  align-items: center;       /* optional: vertical alignment */
  gap: 12px;                 /* spacing between the two elements */
}

.govuk-extension__background_white {
  background-color: white;
}

.app-sort-link {
  display: inline-flex;
  align-items: flex-start !important;
  text-decoration: none;
  gap: 4px;
}

/* Stop the sort arrow shrinking when label text fills the available space */
.app-sort-link__icon {
  flex-shrink: 0;
  padding: 0.1rem;
}

.govuk-table__header .govuk-link.app-sort-link:hover,
.govuk-table__header .govuk-link.app-sort-link:active {
  color: inherit;
}

.govuk-notification-banner--success:focus {
  outline: none;
}

.no-js .requires-js {
  display: none;
}

.upload-table {
  overflow-x: auto;
}

.username {
  font-weight: bold;
  color: #1d8feb;
}

.search-panel {
  padding: 15px 20px 0px 20px;
  border-bottom: 1px solid transparent;
  background-color: #f3f2f1;
}

@media print {
  .upload-table {
    overflow: visible !important;
  }

  .govuk-table {
    width: 100%;
    font-size: 8px;
    table-layout: auto;
    word-break: break-all;
  }

  #print-button,
  .govuk-link,
  .govuk-header,
  .govuk-footer,
  .govuk-back-link {
    display: none;
  }
}
