name: Delete UAT preview deployment (manual)

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  cleanup-uat:
    runs-on: ubuntu-latest
    environment: uat
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cleanup uat
        uses: ./.github/actions/cleanup_branch
        with:
          kube-cert: ${{ secrets.KUBE_CERT }}
          kube-token: ${{ secrets.KUBE_TOKEN }}
          kube-cluster: ${{ secrets.KUBE_CLUSTER }}
          kube-namespace: ${{ secrets.KUBE_NAMESPACE }}
